<div class="logForm">
    <form action="<?=$this->printData('actionFormSignUp')?>" method="post">
        <label for="name">Name :</label><input type="text" id="name" name="<?=UserBuilder::getNameField()?>" value="<?=$this->printData(UserBuilder::getNameField())?>" required><br>
        <label for="login">Login :</label><input type="text" id="login" name="<?=UserBuilder::getLoginField()?>" value="<?=$this->printData(UserBuilder::getLoginField())?>" required><br>
        <label for="password">Password :</label><input type="password" id="password" name="<?=UserBuilder::getPasswordField()?>" required><br>
        <label for="mail">Email :</label><input type="email" id="mail" name="<?=UserBuilder::getMailField()?>" value="<?=$this->printData(UserBuilder::getMailField())?>" required><br>
        <button type="submit" name="submitSignUp">create your account</button>
        <button type="button"><a href="<?=$this->printData('cancelFormSignUp')?>">cancel</a></button>
    </form>
</div>